body {
  margin: 0 ;
  padding: 0;
}

#Anim-container {
  height: 100vh;
  display: none;
}

#Anim, #Anim-2 {
  overflow: hidden !important;
  display: none;
  width: 2vw;
  background: black;
  animation: animation 800ms ease-out;
  animation-fill-mode: forwards;
}
#Anim {
  box-shadow: black -25px 0 15px 15px;
}
#Anim-2 {
  box-shadow: black 25px 0 15px 15px;
}

.TransitionAnm {
  position: absolute;
  overflow: hidden !important;
}

.Critic, .Miss {
  grid-column: 15/17;
  grid-row: 14/16;
}
#criticMsg, #missMsg {
  animation: movement 800ms forwards;
  font-size: 6em;
  color: transparent;
  text-shadow: 5px 0 0 transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  display: none;
  font-family: 'yakuza', Arial, Helvetica, sans-serif;
}
#lifeMeter-1, #lifeMeter-2, #playerImg-1, #playerImg-2 {
  transition: all 0.5s;
}
/* Credits */
.Credits-container {
  text-align: center;
  width: 100vw;
  margin: auto;
  height: 100vh;
  background: #efefef;
  display: flex;
}

.Credits-content {
  flex: 1;
  overflow: hidden;
  background: radial-gradient(#efefef, black);
}
.Credits {
  margin-top: 100vh;
  animation: creditsAnimation 35s ease forwards;
  font-size: 3rem;
}
.Credits section {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 1px #ede3e9;
  margin-top: 10vh;
}
.Credits h3 {
  color:  #ede3e9;
  margin-bottom: 12vh;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

#thanks {
  margin-top: 65vh;
}

@keyframes creditsAnimation {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(0) translateY(-320vh);
  }
}

@keyframes movement {
  0% {
    color: transparent;
    text-shadow: 0 0 0 transparent;
    background: transparent;
    transform: translateY(0);
    transform: translateX(0);
  }
  50% {
    color: #8f1010;
    text-shadow: #ffd400 1vw 0 0;
  }
  100% {
    transform: translateY(-10vw);
    display: none;
  }
}

@keyframes animation {
  0% {
    transform: translateX(0%);
  }
  50% {
    width: 100vw;
  }

  75% {
    width: 100vw;
    transform: translateX(0vw);

  }

  100% {
    transform: translateX(110vw);
    display: none;

  }
}