body {
  margin: 0 ;
  padding: 0;
}

/* Funciona con EN DIV POSITION ABSOLUTE EN MAIN POSITION STATIC Y LOS ANIM CON HEIGHT: 100VW o menos*/
/*APARENTEMENTE LOS ELEMTNOS UQE NO TENGAN POSITION DECLARADO? O EN STATIC NO SE VEN AFECTADOS POR
  LOS ELEMTNOS CON POSITION ABSOLUTE */

/* div {
  overflow: hidden;
  /* position: absolute; */

#Anim-container {
  /* position: static; */
  height: 100vh;
  display: none;
  /* justify-content: center; */
  /* background: black; */
}

#Anim, #Anim-2 {
  /* height: 100vw; */
  overflow: hidden !important;
  display: none;
  width: 2vw;
  background: black;
  animation: animation 800ms ease-out;
  animation-fill-mode: forwards;
}
#Anim {
  box-shadow: black -25px 0 15px 15px;
}
#Anim-2 {
  box-shadow: black 25px 0 15px 15px;
}

.TransitionAnm {
  position: absolute;
  overflow: hidden !important;
}

.Critic {
  grid-column: 15/17;
  grid-row: 14/16;
}
#criticMsg {
  
  animation: movement 800ms forwards;
  font-size: 6em;
  color: transparent;
  text-shadow: 5px 0 0 transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  display: none;
  font-family: 'yakuza', Arial, Helvetica, sans-serif;
}

@keyframes movement {
  0% {
    color: transparent;
    text-shadow: 0 0 0 transparent;
    background: transparent;
    transform: translateY(0);
    transform: translateX(0);
  }
  50% {
    color: #8f1010;
    text-shadow: #ffd400 1vw 0 0;
  }
  100% {
    transform: translateY(-10vw);
    display: none;
  }
}

/* 50% {
  transform: translateX(40vw);
  width: 50vw;
} */

/* para 75% translate 20vw */
/*



*/
  /* 25% {
    width: 40vw;
  
  }
  
  75% {
    /* transform: translateX(15vw); */
    /* width: 50vw; */
  
    /* width: 50vw; */
  /* } */ 





@keyframes animation {
  0% {
    transform: translateX(0%);
  }
  50% {
    width: 100vw;
    /* transform: translateX(10vw) */
    /* transform: translateX(60vw); */
  }
  /* 25% {
    width: 100vw;
    transform: translateX(0vw);
    y 75% en 10vw
  } */

  75% {
    width: 100vw;
    transform: translateX(0vw);
    /* transform: translateX(10vw) */

  }

  100% {
    transform: translateX(110vw);
    /* transform: translateX(80vw); */
    /* width: 10vw; */
    /* transform: translateX(1vw); */
    /* transform: translateX(80vw); */
    display: none;

  }
}