.Header {
  height: 100px;
  background: #FFFF;
  color: #272727;
  box-shadow: 0 0 5px black;
}
.Header-container {
  display: flex;
  height: 100%;
  gap: 10px;
  background-color: #efefef;
}
.Header-item {
  margin: auto;
  justify-content: center;
}
h1 {
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
  letter-spacing: .2em;
  text-shadow: #272727 0 0 4px;
  font-size: 4rem;
  transition: all ease-out 200ms;
}

h1:hover {
  text-shadow:  #040404 0 0 7px;
}